header,
main {
  display: flex;
  flex-direction: column;

  align-items: center;
}

button {
  width: 80px;

}

img {
  width: 100px;

}

body {
  background: black;
}

h1 {
  color: white;
}